<div class="">
    <div class="row">
        <div class="col-md-4">
            {{#view Concertember.DropTarget}}

                <div class="panel panel-primary">
                    <div class="panel-heading">Muss ich hin!</div>
                    <div class="panel-body">
                        {{#collection Concertember.ConcertCollectionView contentBinding="loveConcerts"}}

                            <div>

                                {{#view Concertember.Box}}
                                    <div class="col-md-12 btn btn-xs" style="cursor: pointer;">

                                        <div {{bind-attr class="view.parentView.alertClass :col-md-10 :col-lg-10 :col-sm-10 :btn :btn-xs"}}>
                                            {{view.parentView.content.artist}}
                                            -
                                            {{view.parentView.content.venue}} -
                                            {{formatDate view.parentView.content.date}}
                                        </div>

                                        <div class="col-md-2 col-lg-2 col-sm-2">

                                            <button {{action 'removeConcert' view.parentView.content}}
                                                    class="btn btn-xs btn-danger glyphicon glyphicon-remove"
                                                    ></button>
                                        </div>


                                    </div>
                                {{/view}}
                            </div>



                        {{/collection}}

                    </div>
                </div>
            {{/view}}
        </div>
        <div class="col-md-4">
            {{#view Concertember.DropTarget}}
                <div class="panel panel-warning" data-drop="true" ng-model='allConcerts' jqyoui-droppable>
                    <div class="panel-heading">Alle Konzerte</div>
                    <div class="panel-body">
                        {{#collection Concertember.ConcertCollectionView contentBinding="allConcerts"}}
                            <div>
                                {{#view Concertember.Box}}

                                    <div class="col-md-12 btn btn-xs" style="cursor: pointer;">
                                        <div {{bind-attr class="view.parentView.alertClass :col-md-10 :col-lg-10 :col-sm-10 :btn :btn-xs"}}>
                                            {{view.parentView.content.artist}}
                                            -
                                            {{view.parentView.content.venue}} -
                                            {{formatDate view.parentView.content.date}}
                                        </div>

                                        <div class="col-md-2 col-lg-2 col-sm-2">
                                            <button {{action 'removeConcert'  view.parentView.content}}
                                                    class="btn btn-xs btn-danger glyphicon glyphicon-remove"
                                                    ></button>

                                        </div>
                                    </div>
                                {{/view}}



                            </div>
                        {{/collection}}
                    </div>
                </div>
            {{/view}}
        </div>
        <div class="col-md-4">

            {{#view Concertember.DropTarget}}
                <div class="panel panel-success">

                    <div class="panel-heading">Mal schauen!</div>
                    <div class="panel-body">
                        {{#collection Concertember.ConcertCollectionView contentBinding="maybeConcerts"}}
                            <div>
                                {{#view Concertember.Box}}
                                    <div class="col-md-12 btn btn-xs" style="cursor: pointer;">
                                        <div {{bind-attr class="view.parentView.alertClass :col-md-10 :col-lg-10 :col-sm-10 :btn :btn-xs"}}
                                                >
                                            {{view.parentView.content.artist}}
                                            -
                                            {{view.parentView.content.venue}} -
                                            {{formatDate view.parentView.content.date}}
                                        </div>

                                        <div class="col-md-2 col-lg-2 col-sm-2">
                                            <button {{action 'removeConcert'  view.parentView.content}}
                                                    class="btn btn-xs btn-danger glyphicon glyphicon-remove"
                                                    ></button>
                                        </div>
                                    </div>
                                {{/view}}
                            </div>
                        {{/collection}}
                    </div>
                </div>
            {{/view}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <form name="addConcertForm" novalidate class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only">Artist</label>
                    {{input value=newConcert.artist placeholder="Künstler"}}
                </div>
                <div class="form-group">
                    <label class="sr-only">Ort</label>
                    {{input value=newConcert.venue placeholder="Ort"}}
                </div>
                <div class="form-group">
                    <label class="sr-only">Datum</label>
                    {{input value=newConcert.dateString placeholder="Datum (TT.MM.JJJJ)"}}
                </div>

                <button {{action 'addConcert'}} class="btn btn-success glyphicon glyphicon-plus"
                                                type="submit"></button>
            </form>
        </div>

    </div>

    <div class="footer navbar-fixed-bottom">
         <span>
        <i class="fa fa-github"></i>
    </span>
    <span>
        <a href="https://github.com/holgergp/concertEmber">https://github.com/holgergp/concertEmber</a>
    </span>
        <span>
        <i class="fa fa-compass"></i>
    </span>
    <span>
        <a href="http://www.grosse-plankermann.com">http://www.grosse-plankermann.com</a>
    </span>


    </div>

</div>